---
title: "Best Practices Index"
layout: collection_index
---
<h1 class="page-heading">Best Practices</h1>
<h2>Work in Progress - check back for updates! Summer 2021</h2>
Learn how to use Arctos better here! Written by Arctos users.<br>
<ul class="collection-list" data-path="{{page.path}}">
  {% for collection in site.collections %}
  <!-- {{ collection.label }} -->
    {% if page.path contains collection.label %}
    <!-- {{ page.path }} does contain {{ collection.label }} -->
    {% assign sorted_docs = (collection.docs | sort: 'title') %}
      {% for doc in sorted_docs %}
        <!-- Iterating on {{doc.title}} @ {{doc.url}} -->
        {% unless doc.url contains "index" %}
          <li>
            <a class="collection-link" href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title}}</a>
          </li>
        {% endunless %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>
