{% capture issue_title %}Suggestion for "{{ page.title }}"{% endcapture %}
{% capture issue_body %}**URL:** {{ page.url | prepend: site.baseurl | prepend: site.url }}

**Source file:** https://github.com/{{ site.repository }}/blob/{{ site.repository_branch }}/{{ page.path }}

*==== Please do not change anything above this line ====*

**Suggest a change to this page:**

{% endcapture %}

<div class="page-meta">
    {% if page.date_updated %}
    <div class="meta-row">
        <span class="meta-icon"><i class="fas fa-calendar-alt"></i></span>
        <span><strong>Updated:</strong> {{ page.date_updated }}</span>
    </div>
    {% endif %}
    {% if page.authors %}
    <div class="meta-row">
        <span class="meta-icon"><i class="fas fa-users"></i></span>
        <span><strong>Contributors:</strong>
            {% assign author_list = page.authors | split: ", " %}
            {% for author in author_list %}{%
            assign author_data = site.data.authors[author] %}{%
            if author_data %}<a href="{{ author_data.url }}" target="_blank">{{ author }}</a>{%
            else %}{{ author }}{%
            endif %}{%
            unless forloop.last %}, {% endunless %}{%
            endfor %}
        </span>
    </div>
    {% endif %}
    <div class="meta-row">
        <span class="meta-icon"><i class="fab fa-github"></i></span>
        <span><strong>GitHub:</strong>
            <a href="https://github.com/{{ site.repository }}/blob/{{ site.repository_branch }}/{{ page.path }}"
                target="_blank">View source</a>
            |
            <a href="https://github.com/{{ site.repository }}/issues/new?title={{ issue_title | url_encode }}&body={{ issue_body | url_encode }}&labels=documentation"
                target="_blank">Suggest a change to this page</a>
        </span>
    </div>
    <div class="meta-row">
        <span class="meta-icon"><i class="fas fa-print"></i></span>
        <span><a class="print-link" href="javascript:window.print()">Print this page</a></span>
    </div>
</div>