/**
 * Site header
 */

 // Via http://brand.berkeley.edu/colors/
$founders-rock: #2D637F;
$berkeley-blue: #003262;
$cal-gold: #fdb515;


$arctos-main-blue: $berkeley-blue;
$arctos-primary-accent: $founders-rock;
$arctos-accent: #FF6600;
$arctos-highlight: #e09319;
$arctos-light-highlight: rgba(224,158,25,.2);
$material-blue: #5677fc;
$material-green: #4CAF50;
$material-indigo: #3f51b5;
$material-cyan: #00bcd4;
$material-teal: #009688;
$material-blue-grey: #607d8b;
$material-red: #F44336;

$bs-info: #5bc0de;
$bs-danger: #d9534f;
$bs-warning: #f0ad4e;

$seafoam: #7cb490;
$seafoam-light: rgba(124, 180, 144, 0.05);

$muted: #777;
$extra-muted: #666;

.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
      background: $arctos-main-blue;
}

body, main {
    position: relative;
}


nav {
    position: sticky;
    top: 0;
    paper-tabs {
        //position: sticky;
        top: 0; // calc(800px - (30px * 2))
        width: 100%;
        color:#fff;
        box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
        z-index:1000;
        background: $arctos-main-blue;
        paper-tab {
            cursor:pointer;
            a {
                color: #fff !important;
            }
            a.link {
                display: block;
                text-align:center;
                height: auto !important;
            }
            .collection {
                text-transform: capitalize;
            }
        }
    }
    paper-tabs[noink][nobar] paper-tab.core-selected{
        color: $arctos-accent;
    }
    paper-tabs #selectionBar {
        background-color: $arctos-accent !important;
    }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    //float: left;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    display: inline-block;
    width: 100%;
    &,
    &:visited {
        color: $grey-color-dark;
    }

    img {

    }
}

.site-nav {
    //float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/***
* Generic
***/

.home-wrapper {
  //max-width: 800px;
  //width: 100%;
  //float: left;
  padding: 1rem;
  &+aside {
    padding: 1rem;
  }
    @media(min-width: 1024px) {
      & + aside {
        //float: left;
      }
  }
  @media(max-width: 1023px) {
    & + aside {
      //display: none;
    }
  }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    clear: both;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 15px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
