<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <main class="page-content">
    <article class="wrapper">
      {% if page.collection == 'how_to' %}
      <h1><strong>How To:</strong> {{ page.title }}</h1>
      {% elsif page.collection == 'best_practices' %}
      <h1><strong>Best Practice:</strong> {{ page.title }}</h1>
      {% else %}
      <h1>{{ page.title }}</h1>
      {% endif %}
      {{ content }}
    </article>
  </main>

  {% include footer.html %}

</body>

</html>