<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-spy="scroll" data-target="#toc">

    {% include header.html %}

    <main class="page-content container-fluid clearfix">
      <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.0/dist/bootstrap-toc.min.css">
      <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.0/dist/bootstrap-toc.min.js"></script>
      <div class="nav-container row clearfix" style="overflow-x:hidden">
        <nav class="toc clearfix col-xs-12 col-md-2" id="toc" data-toggle="toc" data-spy="affix" style="top:200px; overflow-x:hidden;">
          <div id="search-container" class="form">
            <div class="form-group">
              <label class="sr-only">
                Search ArctodDB.org
              </label>
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                <input type="text" id="search-input" placeholder="Search all writeups" class="form-control" />
                <input type="text" id="search-input-dummy" hidden />
              </div>
            </div>
            <ul id="results-container"></ul>
          </div>
          <!-- 
               Generated ToC
            -->
        </nav>
      </div>
      <article class="wrapper">
        <a href="https://github.com/ArctosDB/documentation-wiki/issues/new?assignees=&labels=How+To+Update&template=how-to-update.md&title=How+To+%255Badd+title%255D+update" target="_blank"; style="font-size:20px; align:right">Request an Update to this How To</a> 
        {{ content }}
        <a href="https://github.com/ArctosDB/documentation-wiki/issues/new?assignees=&labels=How+To+Update&template=how-to-update.md&title=How+To+%255Badd+title%255D+update" target="_blank">Request an Update to this How To</a> 
        
        <div class="post-content-footer text-muted">
          {% if page.date %}
          last edited {{page.date | date_to_long_string }}
          {% endif %}
          {% if page.author %}
          by {{page.author}}
          {% endif %}
        </div>
      </article>
    </main>

    {% include footer.html %}

  </body>

</html>
