<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content row">
      <aside class="col-md-3 col-xs-12 pull-right">
        <!-- Html Elements for Search -->
        <div id="search-container form">
          <div class="form-group">
            <label class="sr-only">
              Search ArctodDB.org
            </label>
            <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
              <input type="text" id="search-input" placeholder="Search..." class="form-control" />
              <input type="text" id="search-input-dummy" hidden />
            </div>
          </div>
          <ul id="results-container"></ul>
        </div>

        <div id="twitter hidden-xs hidden-sm" hidden>
          <!-- https://dev.twitter.com/web/embedded-timelines -->
          <a id='twitter_embed' class="twitter-timeline" href="https://twitter.com/arctosdb" data-widget-id="344887340390551552" data-screen-name="arctosdb">Tweets by @arctosdb</a>
          <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </aside>
      <article class="home-wrapper col-xs-12 col-md-9">
        {{ content }}
      </article>
    </main>

    {% include footer.html %}

  </body>

</html>
